/**
 * Theme Source : adi1090x rofi themes
 * Modified for : Voidarchy
 * Maintainer   : Jigar Varma (@jigarvarma2k20)
 */

configuration {
    show-icons: false;
}

@import "../shared/colors.rasi"
@import "../shared/fonts.rasi"

window {
    transparency: "real";
    location: center;
    anchor: center;
    fullscreen: false;
    width: 720px;
    margin: 0px;
    padding: 0px;
    border: 1px;
    border-radius: 12px;
    border-color: rgba(255, 255, 255, 0.06);
    background-color: rgba(26, 27, 38, 0.35);
}


mainbox {
    enabled: true;
    spacing: 10px;
    padding: 24px;
    background-color: transparent;
    children: [ "inputbar", "listview"];
}

inputbar {
    enabled: true;
    spacing: 12px;
    background-color: transparent;
    text-color: @foreground;
    children: [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled: true;
    expand: false;
    str: "";
    padding: 10px 14px;
    border-radius: 8px;
    background-color: rgba(255, 85, 85, 0.25);
    text-color: @foreground;
}

prompt {
    enabled: true;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    text-color: @foreground;
}

message {
    enabled: true;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    text-color: @foreground;
}

textbox {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.5;
    markup: true;
}

listview {
    enabled: true;
    columns: 5;
    lines: 1;
    spacing: 12px;
    layout: vertical;
    scrollbar: false;
    background-color: transparent;
}


element {
    enabled: true;
    padding: 26px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.06);
    text-color: @foreground;
    cursor: pointer;
}

element-text {
    font: "JetBrainsMono Nerd Font Bold 26";
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}


element selected.normal {
    background-color: rgba(39, 42, 55, 0.45);
    text-color: @foreground;
}